
@media screen and  (max-width: 600px) { 
    .card-div {
        display: block;
        width: 100%;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    
    .card-dtl {
        width: auto;
        margin: 10px;
        padding: 5px;
    }
    
    .crd-bg {
        background-color: #e8e8e8;
    }
  
  }
  
  @media screen and  (min-width: 600px) {
    .card-div {
        display: flex;
        width: 100%;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    
    .card-dtl {
        width: 30%;
        margin: 10px;
        padding: 5px;
    }
    
    .crd-bg {
        background-color: #e8e8e8;
    }
    
   }