.dtl-div {
    width: 50%;
    padding: 20px; 
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

@media screen and  (max-width: 600px) { 
    .bg-div {
        display: block;
        justify-content: space-between;
        width: 100%;
        border: 1px solid #e8e8e8;
        border-radius: 12px;
        padding: 10px;
        margin: 20px 0px;
    }

    .img-div {
        width: 100%;
        padding: 10px;
    }

    .image-dim {
        height: 250px;
    }

    .dtl-tag {
        font-size: 18px !important;
        font-weight: 500;
    }

    .dtl-text {
        font-size: 14px;
        font-weight: 400;
    }

    .ant-form-item-label > label {
        position: relative;
        display: inline-flex;
        align-items: center;
        height: 10px !important;
        color: rgba(0, 0, 0, 0.85);
        font-size: 14px !important;
    }
  
}
  
  @media screen and  (min-width: 600px) {
    .bg-div {
        display: flex;
        justify-content: space-between;
        width: 100%;
        border: 1px solid #e8e8e8;
        border-radius: 12px;
        padding: 10px;
        margin: 20px 0px;
    }

    .img-div {
        width: 50%;
        padding: 10px;
    }

    .image-dim {
        height: 450px;
    }

    .dtl-tag {
        font-size: 28px !important;
        font-weight: 500;
    }

    .dtl-text {
        font-size: 18px;
        font-weight: 400;
    }

    .ant-form-item-label > label {
        position: relative;
        display: inline-flex;
        align-items: center;
        height: 22px !important;
        color: rgba(0, 0, 0, 0.85);
        font-size: 18px;
    }
    
}