@import '~antd/dist/antd.less';

.App {
  text-align: center;
}

.App-header {
  background-color: #e3e3e3;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
}

#components-layout-demo-fixed .logo {
  width: 120px;
  height: 31px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px 24px 16px 0;
  float: left;
}

.site-layout .site-layout-background {
  background: #fff;
  border-radius: 12px;
  box-shadow: 3px 13px 37px -20px rgba(0,0,0,0.7);
}

.ant-layout-footer {
  padding: 10px 50px !important;
  color: rgba(0, 0, 0, 0.85);
  font-size: 14px;
  background: #f0f2f5;
}

@media screen and  (max-width: 600px) { 
  .resp {
    padding: 0px 10px !important;
    margin-top: 10px;
  }

}

@media screen and  (min-width: 600px) {
  .resp {
    padding: 0px 50px !important;
    margin-top: 24px;
  }

 }